<h1>Todoo items</h1>

<h2>TODOO:</h2>
<% @todos.each do |t| %>
 <p>
 	<strong><%= t.name %></strong>
 	<small><%= link_to "Mark as Done", todoo_path(t), :method => :put %></small>
 </p>
<% end %>

 <h2>TODONE:</h2>

 <% @todone.each do |t| %>
   	<p>
 		<% t.name %>
 		<small><%= link_to "Remove", t, :confirm => "Is it OK to remove from the list?", :method => :delete %></small>
 	</p>
 <% end %>
<p><%= link_to "Add another item to list", new_todoo_path %></p>